body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background: black;
}

h1 {
  font-family: 'Tourney', cursive;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: white;
}

h1 > span {
  font-weight: 400;
}

p {
  color: #f1f1f1a3;
  margin-bottom: 20px;
}

canvas {
  top: 0;
  left: 0;
  position: absolute;
}

.popin {
  position: absolute;
  width: 25%;
  z-index: 120;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #2d2d2d;
  padding: 30px;
  border-radius: 8px;
}

.hide {
  display: none;
}

.button {
  float: right;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  background: linear-gradient(218deg, rgba(0,227,223,1) 0%, rgba(116,33,252,1) 100%);
  cursor: pointer;
}

.screenButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 120;
}

/* Mobile styles */
@media screen and (max-width: 740px) {
  .button {
    font-size: 25px;
  }
  .popin {
    width: 70% !important;
  }
}
